<div class="question">
  <%= form_with(url: recommend_movies_path, method: :get) do |form| %>
    <%= form.text_field :query, size: 50 %>
    <%= form.submit "質問する" %>
  <% end %>
</div>

<div class="answer">
  <%= @answer %>
</div>

