// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// movies/index.html.erb
.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #141414;
    padding: 20px;
}
.movies-container::after{
    content: "";
    width: 23%;
}
.movies-container::before{
    content: "";
    width: 23%;
    order: 1;
}
.movie-data {
    width: 23%;
    margin-bottom: 30px;
    background-color: #222;
    color: #fff;
    border-radius: 5px;
    border:solid 0.2px #fff;
    transition: all 0.2s ease-in-out;
    .movie-title{
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-img {
        display: block;
        border-radius: 5px;
        width: 100%;
        height: auto;
    }
    p {
        margin: 0;
        padding: 10px;
        text-align: center;
    }
    
    a {
        color: #fff;
        text-decoration: none;
    }
}

.movie-data:hover {
    transform: scale(1.05);
}
.pagination-container{
    color: #fff;
}

.search{
    display: flex;
    justify-content: center;

}
// movies/show.html.erb

/* 基本設定 */
.movie-detail {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card-size {
    //   width: 200px;
    //   height: 300px;
    object-fit: cover;
}

.movie-info-with-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #222;
    width: 100%;
}

.movie-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
}

.movie-header {
    margin-bottom: 20px;
    h2 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.postbtn {
    display: block;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 60%;
    margin: 20px auto;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .postbtn:hover {
    background-color: #3e8e41;
  }

// recommend.html.erb
.reccomend-container {
    background-color: #202020;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
  }
  .question {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  
    input[type="text"] {
      padding: 0.5rem;
      border: 1px solid #ddd;
      border-radius: 0.25rem;
      font-size: 1rem;
      margin: 0 auto;
      width: 100%;
  
      &:focus {
        outline: none;
        border-color: #008080;
        box-shadow: 0 0 0 0.1rem #008080;
      }
    }
  
    button[type="submit"] {
      display: inline-block;
      background-color: #008080;
      color: #fff;
      text-align: center;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.25rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #006666;
      }
    }
  }
  
  .answer {
    margin-top: 2rem;
    font-size: 1.25rem;
    color: #fff;
    text-align: center;
    p{
        color: #fff;
        font-size: 30px;
    }
  }
/* ページネーション用CSS */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 20px 0;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 10px;
  }
  
  .pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #222;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    margin: 0 2px;
  }
  
  .pagination a:hover {
    background-color: #555;
  }
  
  .pagination .current {
    background-color: #444;
    padding: 8px 12px;
    border-radius: 4px;
  }
    
/* スマホサイズ */
@media screen and (max-width: 767px) {
    .movies-container {
        justify-content: space-around;
    }

    .movie-data {
        width: 47%;
    }

    .movie-info-with-image {
        flex-direction: column;
    }

    .card-size {
        width: 100%;
        height: auto;
    }

    .movie-info {
        width: 100%;
        padding: 10px;
    }
}
